<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="child_leaning_application.My.MySettings.projectConnectionString"
            connectionString="Data Source=DELL-PC;Initial Catalog=project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="child_leaning_application.My.MySettings.tryConnectionString"
            connectionString="Data Source=DELL-PC;Initial Catalog=try;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="child_leaning_application.My.MySettings.appConnectionString"
            connectionString="Data Source=DELL-PC;Initial Catalog=app;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>